<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="app.js"></script>
</head>
<body>
<div id="app">
    <div class="main-container">
        <div class="search-container box">
            <form class="stretch-completely" @submit.prevent="submitSearchForm" id="search-task-form">
                <div class="search-content stretch-completely">
                    <h3>Search tasks by name:</h3>
                    <input class="input-box" type="text" name="search-tasks-input" id="search-tasks-input"
                           required
                           v-model="searchTasksForm.searchString">
                    <button>Search</button>
                </div>

            </form>
        </div>
        <div class="new-task-container box">
            <form class="stretch-completely" @submit.prevent="submitNewTaskForm" id="new-task-form">
                <div class="new-task-content stretch-completely">
                    <h3>Enter a new task:</h3>
                    <input class="input-box" type="text" name="new-task-name-input" id="new-task-name-input"
                           placeholder="Task name"
                           required
                           v-model="newTaskForm.taskName">
                    <input class="input-box" type="text" name="new-task-description-input" id="new-task-description-input"
                           placeholder="Task description"
                           required
                           v-model="newTaskForm.taskDescription">
                    <button>Submit</button>
                </div>
            </form>
        </div>
        <div class="tasks-container box">
            <div class="tasks-content stretch-completely">
                <table class="tasks-table stretch-completely">
                    <tr>
                        <th>Task Name</th>
                        <th>Task Description</th>
                        <th>Complete Task</th>
                    </tr>

                    <tr v-for="task in tasks">
                        <td>{{ task.name }}</td>
                        <td>{{ task.description }}</td>
                        <td>
                            <button @click="completeTask(task)">Complete Task</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>