html {
    height: 100vh;
}

body {
    font-family: arial, sans-serif;
}

.stretch-completely {
    height: 100%;
    width: 100%;
}


/* Grid layout */
.main-container {
    display: grid;
    height: 97vh;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "search-container new-task-container"
    "tasks-container tasks-container";
    border: 1px black solid;
    border-radius: 3px;
}

.box {
    border: 1px black solid;
}

.search-container {
    grid-area: search-container;
}

.new-task-container {
    grid-area: new-task-container;
}

.tasks-container {
    grid-area: tasks-container;
}

/* The search box */

.search-content, .new-task-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.input-box {
    width: 50%;
    height: 10%;
}

.tasks-table {
    table-layout: fixed;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;

}

tr:nth-child(even) {
    background-color: #dddddd;
}


